*{ /*universal selector*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* id have the highest priority to make any action also avoid use of Id in css*/
p:hover{
    color: crimson;
}
h2:hover{
    font-style: italic;
}
p{
    font-size: 25px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#first>p{
    font-weight: bold;
}
#first{
    color: rgb(57, 20, 244);
}
#second{
    background-color: aquamarine;
}
.pink{
    color: rgb(3, 23, 31);
}
.highlight{
    background-color: yellowgreen;
    font-weight: bold;
}
